<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <style>
        .mainClass {
            display: flex;
            flex-direction: column;
            align-item: center;
        }
        .mainMenu {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div class="mainClass">
        <a href="/playerRegistration" class="mainMenu">선수등록</a>
        <a href="/recordSheet" class="mainMenu">기록지작성</a>
        <a href="/recordRoom" class="mainMenu">기록실</a>
        <a href="/playerInfo" class="mainMenu">선수정보</a>
        <a href="/setting" class="mainMenu">환경설정</a>
    </div>
</body>
</html>